#popap #close {
  position: relative;
  top: 7px;
  left: 572px; }

#popap #text_before_input {
  position: relative;
  top: 127px;
  left: 30px;
  font-size: 15px;
  font-family: "Arial";
  word-spacing: 1px;
  letter-spacing: 0.5px; }
  #popap #text_before_input .bolder {
    font-weight: bolder; }

#popap input {
  position: relative;
  top: 129px;
  left: 30px;
  width: 293px;
  height: 38px;
  letter-spacing: 0.5px;
  text-indent: 14px; }
  #popap input:hover {
    cursor: pointer; }

#popap button {
  position: relative;
  top: 129px;
  left: 10px;
  background-color: pink;
  color: white;
  width: 181px;
  height: 42px;
  word-spacing: 1.5px;
  letter-spacing: 0.8px; }
  #popap button:hover {
    background-color: #ff5a77; }
  #popap button p {
    position: relative;
    top: 1px;
    left: -1px; }

#popap #description {
  color: white;
  background-color: #5bbce4;
  position: relative;
  top: 160px;
  left: 1px;
  height: 116px; }
  #popap #description .item {
    width: 152px;
    height: 100%;
    float: left;
    display: inline-block; }
    #popap #description .item:hover {
      background-color: #1f8dba; }
    #popap #description .item p {
      font-family: "Arial";
      font-size: 11px;
      text-align: center;
      position: relative;
      top: 26px; }
    #popap #description .item svg {
      position: relative;
      top: 17px;
      left: 35%; }
