#popap {
  border-left: 6px solid #5bbce4; }
  #popap img {
    position: relative;
    top: 25px;
    left: 13px; }
  #popap #textBeforeInput {
    position: relative;
    top: 66px;
    left: 23px;
    font-size: 15px;
    font-family: "Arial";
    word-spacing: 1px;
    letter-spacing: 0.5px; }
    #popap #textBeforeInput .bolder {
      font-weight: bolder; }
  #popap input {
    position: relative;
    top: 56px;
    left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    word-spacing: 1px;
    letter-spacing: 0.5px; }
  #popap button {
    position: relative;
    top: 50px;
    left: 22px;
    background-color: pink;
    color: white;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 23px;
    padding-bottom: 4px;
    word-spacing: 1.5px;
    letter-spacing: 0.8px; }
    #popap button p {
      position: relative;
      top: 6px;
      left: 13px; }
  #popap #description {
    color: white;
    background-color: #5bbce4;
    position: relative;
    top: 82px;
    left: 0;
    height: 116px; }
    #popap #description #item1 {
      position: relative;
      left: -144px; }
    #popap #description #item2 {
      position: relative;
      left: 170px; }
    #popap #description #item3 {
      position: relative;
      left: 310px; }
    #popap #description #item4 {
      position: relative;
      left: 473px; }
    #popap #description span {
      font-family: "Arial";
      font-size: 11px;
      text-align: center;
      position: relative;
      top: 0;
      left: -272px; }
    #popap #description svg {
      position: relative;
      top: 0;
      left: 35%;
      display: inline; }
