//position
$relative:relative;
//font-weight
$bolder:bolder;
//fonts
$Arial: 'Arial';
//text-align
$center:center;
//floating
$left:left;
//inline-block(for display)
$inline-block:inline-block;
//colors
$pink:pink;
$white:white;
$skyblue:skyblue;

#popap {
    #textBeforeInput{
        position: $relative;
        top:152px;
        left:27px;
        font-size: 15px;
        font-family: $Arial;
        word-spacing: 1px;
        letter-spacing: 0.5px;
        .bolder{
            font-weight:$bolder;
        }
    }
    input{
        position: $relative;
        top:156px;
        left:25px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:  14px;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }
    button{
        position: $relative;
        top:148px;
        left:5px;
        background-color: $pink;
        color:$white;
        padding-left: 10px;
        padding-top: 2px;
        padding-right:  36px; 
        padding-bottom: 19px;
        word-spacing: 1.5px;
        letter-spacing: 0.8px;
        p{
            position: $relative;
            top:9px;
            left:11px; 
        }
    }    
    #description{
        color: $white;
        background-color:darken($skyblue, 10%);
        position: $relative;
        top:176px;
        left:0;
        height:116px;
        #item1{
           width:150px;
           float:$left; 
           display:$inline-block;
        }
        #item2{
            width:150px;
            float:$left; 
            display:$inline-block;
        }
        #item3{
           width:150px;
           float:$left; 
           display:$inline-block;
        }
        #item4{
           width:150px;
           float:$left; 
           display:$inline-block;
        }

        p{
          font-family: $Arial;  
          font-size:11px;
          text-align: $center;
          position: $relative;
          top:26px;          
        }
        svg{
           position: $relative;
           top:17px;
           left: 35%;
        }        
    }
}
