//position
$relative:relative;
//font-weight
$bolder:bolder;
//fonts
$Arial: 'Arial';
//text-align
$center:center;
//solid (for border)
$solid:solid;
//inline(for display)
$inline:inline;
//colors
$pink:pink;
$white:white;
$skyblue:skyblue;

#popap {
    border-left:6px $solid darken($skyblue, 10%);
    img{
    position: $relative;
    top:25px;
    left:13px;
    }
    #textBeforeInput{
        position: $relative;
        top:66px;
        left:23px;
        font-size: 15px;
        font-family: $Arial;
        word-spacing: 1px;
        letter-spacing: 0.5px;
        .bolder{
            font-weight:$bolder;
        }
    }
    input{
        position: $relative;
        top:56px;
        left:22px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:  14px;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }
    button{
        position: $relative;
        top:50px;
        left:22px;
        background-color: $pink;
        color:$white;
        padding-left: 10px;
        padding-top: 2px;
        padding-right:  23px; 
        padding-bottom: 4px;
        word-spacing: 1.5px;
        letter-spacing: 0.8px;
        p{
            position: $relative;
            top:6px;
            left:13px; 
        }
    }
    #description{
        color: $white;
        background-color:darken($skyblue, 10%);
        position: $relative;
        top:82px;
        left:0;
        height:116px;
        #item1{
           position: $relative;
           left: -144px;
        }
        #item2{
           position: $relative;
           left: 170px;
        }
        #item3{
           position: $relative;
           left: 310px;
        }
        #item4{
           position: $relative;
           left: 473px;
        }

        span{
          font-family: $Arial;  
          font-size:11px;
          text-align: $center;
          position: $relative;
          top:0;
          left: -272px;
        }
        svg{
           position: $relative;
           top:0;
           left: 35%;
           display:$inline;
        }        
    }
}
