//position
$relative:relative;
//font-weight
$bolder:bolder;
//fonts
$Arial: 'Arial';
//solid (for border)
$solid:solid;
//colors
$pink:pink;
$white:white;
$skyblue:skyblue;

#popap {
    border-left:6px $solid darken($skyblue, 10%);
    img{
    position: $relative;
    top:25px;
    left:13px;
    }
    #textBeforeInput{
        position: $relative;
        top:66px;
        left:23px;
        font-size: 15px;
        font-family: $Arial;
        word-spacing: 1px;
        letter-spacing: 0.5px;
        .bolder{
            font-weight:$bolder;
        }
    }
    input{
        position: $relative;
        top:64px;
        left:18px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:  14px;
        word-spacing: 1px;
        letter-spacing: 0.5px;
    }
    button{
        position: $relative;
        top:64px;
        left:13px;
        background-color: $pink;
        color:$white;
        padding: 10px 20px 10px 29px;
        word-spacing: 1.5px;
        letter-spacing: 0.8px;
        p{
            position: $relative;
            top:0;
            left:-9px; 
        }
    }
}
